---
layout: page
title: Blog
subtitle:
permalink: /blog/
---
<style>

	.post-content {
		max-width: 700px;
	}

</style>
{% for category in site.categories %}
{% capture cat %}{{ category | first }}{% endcapture %}

<h2>
{% if cat == 'DIY' %}
		{{ cat | uppercase }}

{% else %}
   {{ cat | capitalize }}
{% endif %}

</h2>
	<ul>
	{% for post in site.categories[cat] %}
	  <li>
	  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	     <span class="date"> - {{ post.date | date_to_long_string }}</span></p>
	  </li>
	{% endfor %}
	</ul>

{% endfor %}
