@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,400italic);

body{
	background-color: white;

}


h1 { 
	font-family: 'Open Sans', Arial, serif !important; 
	font-weight: 800 !important;
	}

h2 { 
	font-family: 'Open Sans', Arial, serif !important; 
	font-weight: 400 !important; 
	
}
.social {
		
		margin: 10px;
		float: left;
		display: inline;
	}
	
	
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	h1 {
		font-size: 250% !important;
	}
	h2 {
		font-size: 200% !important;
	}

	#text {
		margin-top: -50%;
		margin-left: 50%;
	}
	.social {
		
		width: 10%;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

	h1 {
		font-size: 250% !important;
	}
	h2 {
		font-size: 200% !important;
	}

	#text {
		margin-top: 58%;
		margin-left: -20%;
	}
	.social {
		
		width: 10%;
	}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 300% !important;
	}
	h2 {
		font-size: 200% !important;
	}

	#text {
		margin-top: 40%;
		margin-left: -15%;
	}

	.social {
		
		width: 10%;
	}

}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 300% !important; 
	}
	h2 {
		font-size: 200% !important;
	}
	#text {
		margin-top: 24%;
		margin-left: -8%;
	}
	.social {
		
		width: 8%;
	}
	
	}
}