<footer class="site-footer">

  <div class="wrapper-footer">


    <center>
        <center id="social"></center>
		<p>
		<a class="link" href="{{ site.baseurl }}/">Home</a> /
		<a class="link" href="{{ site.baseurl }}/about/"><span class="hint--top-right hint--rounded" aria-label="Who dis ⁉️">About</span></a> /
		<a class="link" href="{{ site.baseurl }}/blog/">Blog</a> /
		<a class="link" href="{{ site.baseurl }}/contact/"><span class="hint--bottom-right hint--rounded" aria-label="Or Hire Me :see_no_evil:">Contact Me</span></a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>

		<a class="link" href="mailto:pratiks0809@gmail.com"><span class="hint--right hint--rounded" aria-label="Email me pls? :love_letter:">{{ site.name }}</span></a>
		<br>


    </center>

  </div>

</footer>
