<footer class="site-footer">
  <div class="wrapper-footer">
    <center>
		<p>
  		<a class="link" href="{{ site.baseurl }}/">Home</a> /
  		<a class="link" href="{{ site.baseurl }}/about/"><span class="hint--top-right hint--rounded" aria-label="😊">About</span></a> /
      <a class="link" href="{{ site.baseurl }}/today-i-learned/"><span class="hint--top-right hint--rounded" aria-label="today I learned 🤓">T.I.L.</a> /
      <a class="link" href="{{ site.baseurl }}/resume/"><span class="hint--bottom-right hint--rounded" aria-label="😏😏😏">Résumé</span></a> /
  		<a class="link" href="{{ site.baseurl }}/contact/">Contact</a>
    </p>

    <span>
      "{{ site.time | date: '%Y' }}" &copy;
    </span>
    <a class="link" href="mailto:pratiks0809@gmail.com">
      <span class="hint--right hint--rounded" aria-label="Email me pls? 💌">{{ site.name }}</span>
    </a>
		<br>
    </center>
  </div>
</footer>
