<div class="share">
    <p>Share this post with: </p>
  <ul class="social-network social-circle">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/intent/tweet?text={{ page.title }} @ {{ site.twitter_username }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:?Subject={{page.title}}&body=Check out this post on Pratik's website: {{ site.url }}{{ site.baseurl }}{{ page.url }}" class="icoEnvelope" title="Email"><i class="fa fa-envelope"></i></a></li>
      </ul>
</div>
