---
layout: page
title: About Me
subtitle: 
permalink: /about/
---
<style>

	.post-content {
		max-width: 650px;
	}





</style>


<img src="/img/pratik-sampat.jpg" class="img-responsive" alt="Hi, I'm Pratik." />
<h2>About Me</h2>
<p>Hi there. I'm Pratik Sampat and the author and creator behind pratiksampat.com. </p>
<p>I am a: 
		<ul>
			<li>Front-End Web Developer</li>
			<li>Photographer</li>
			<li>Gym Rat</li>
			<li><span class="hint--top-right hint--rounded hint--medium" aria-label="Jk. Scuba Diving ✅ Skydiving ✅ Cliff diving -- NOT YET."><em>Cliff Diver</em></span></li>
		</ul>
</p>
<p>This website is a collection of my life's lessons I've learned on web development, photography techniques, fitness routines and extreme adventures.</p>
<!--

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}-->

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
