---
layout: default
---
<style>

	.wrapper {
		position: fixed;
		bottom: 110px;
		right: 0px;
		left: 0px;
		padding-bottom: 0;
	}

</style>
<div class="container-fluid ">
		<div class="row">
			  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-3">
			  		<img src="img/smug.png" class="img-responsive" id="welcomeImage" /></div>
			  <div class="col-xs-7 col-sm-7 col-md-8 col-lg-12" id="text">
			  	
					  	<h1>Welcome.</h1>
					    <h2><small>My name is Pratik Sampat. <em>Front-End Dev. Gym Rat. DIY Fan.</em></small></h2>
			</div>
			<div class="col-xs-12" style="padding: 0px; text-align: center;">
	                <ul class="social-network social-circle">
	                    <li><a href="http://facebook.com/pratik0809" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
	                    <li><a href="https://www.youtube.com/user/pratiks0809" class="icoYouTube" title="YouTube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
	                    <li><a href="http://instagram.com/pratik0809" class="icoInstagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
	                    <li><a href="http://snapchat.com/add/pratik0809" class="icoSnapchat" title="Snapchat" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>      
	                    <li><a href="https://github.com/pratik0809/" class="icoGithub" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
	                    <li><a href="https://linkedin.com/in/pratiksampat" class="icoLinkedin" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
	                    <li><a href="mailto:pratiks0809@gmail.com?Subject=Hey%20Pratik!" class="icoEnvelope" title="Email"><i class="fa fa-envelope"></i></a></li>
	                </ul>		
			
			   </div>

				    
		</div>
		

</div>
		

